
.container {
    margin: auto;
    font-size: 30px;
    margin-top: 50px;
    width: 600px;
    height: 700px;

}

strong {
     font-size: 15px;
     margin-left:10px;
     color:#ec7f7f;
}

.child {
    font-family: 'Oxygen',
    sans-serif;
    margin: auto;
    border-radius: 10px;
   
}

h1 {
    text-align: center;
}
h2{
    text-align: center;
    color: aliceblue;
}